form {
    margin-left: 1.2rem;
}

h1 {
    font-size: 1rem;
    font-weight: 600;
}

.profile-picture-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
}

.profile-pic {
    height: auto;
    width: 4rem;
    border-radius: 50%;
}

.profile-picture-section label {
    display: block;
    background-color: rgb(244, 72, 72);
    border: 1px rgb(244, 72, 72);
    border-radius: 0.2rem;
    color: white;
    height: 1.3rem;
    width: 8rem;
    font-size: 0.7rem;
    text-align: center;
    margin-left: 1.2rem;
    padding-top: 0.5rem;
}

.profile-picture-section input {
    display: none;
}


h2 {
    font-size: 0.85rem;
    font-weight: 700;
}


.input-rows-emp-info input{
    width: 16rem;
}


.input-rows-emp-info select{
    height:2rem;
    width:16.6rem;
    border-style:none;
    background-color:rgb(243, 243, 243);
}
.form-buttons{
    display:flex;
    align-items: center;
    justify-content: end;
    margin-right:2rem;
    margin-top:3rem;
    margin-bottom: 1.5rem;
}
.btn-cancel{
    font-size: 0.7rem;
    background-color: rgb(254, 195, 195);
    border: 1px rgb(254, 195, 195);
    border-radius: 0.5rem;
    color: rgb(244, 72, 72);
    margin-left: 0.9rem;
    height: 2rem;
    width: 6rem;
}
.btn-adding-employee{
    font-size: 0.7rem;
    background-color: rgb(244, 72, 72);
    border: 1px rgb(244, 72, 72);
    border-radius: 0.5rem;
    color: white;
    height: 2rem;
    width: 7rem;
    margin-left: 0.2rem;
}