form {
    margin-left: 1.2rem;
}

h1 {
    font-size: 1rem;
    font-weight: 600;
}

.profile-picture-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    
}

.profile-pic {
    height: auto;
    width: 4rem;
    border-radius: 50%;
}

.profile-picture-section label {
    display: block;
    background-color: rgb(244, 72, 72);
    border: 1px rgb(244, 72, 72);
    border-radius: 0.2rem;
    color: white;
    height: 1.3rem;
    width: 8rem;
    font-size: 0.7rem;
    text-align: center;
    margin-left: 1.2rem;
    padding-top: 0.5rem;
}

.profile-picture-section input {
    display: none;
}


h2 {
    font-size: 0.85rem;
    font-weight: 700;
}


.input-rows-emp-info input{
    width: 16rem;
}
.input-rows-emp-info select{
    height:2rem;
    width:16.6rem;
    border-style:none;
    background-color:rgb(243, 243, 243);
}

.visible-prompt{
    display:none;
}
.visible-prompt.active{
    display: block;
    
}
.input-box{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.required-field{ 
    display:flex;
    align-items: center;
    font-size:0.6rem;
    text-align: center;
    color:red;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.exclaim{
    transform: scale(0.6);
}
