.btn-export{
    color: rgb(140,154,168);
    font-size: 0.7rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #d8dbe0;
    width: 6rem;
    height: 2.1rem;
}
.img-export {
    width: 1rem;
    margin-right: 0.4rem;
}

.alphabet {
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 0.9rem;

}

.img-funnel {
    width: 1rem;
    padding-right: 0.4rem;
}

.btn-alphabet {
    width: 2.09rem;
    height: 2.2rem;
    margin: 0.2rem;
    border-style: none;
    border-radius: 25%;
    font-size: 0.7rem;
    color: rgb(152, 163, 177);
    background-color: rgb(234, 235, 238);
}

.btn-alphabet:hover {
    color: white;
    background-color: rgb(244, 72, 72);
}

.employee-table-box {
    margin: 1rem 0.9rem;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.delete-and-add-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.6rem;
    border: 1px solid lightgrey;
}

.delete-side-section {
    display: flex;
    align-items: center;
}

.left-down-arrow {
    height: 1.2rem;
}

.btn-delete {
    background-color: rgb(248, 145, 145);
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
    font-size: 0.7rem;
    border-radius: 0.3rem;
    margin-left: 0.6rem;

}

.add-icon {
    height: 1.2rem;
}

.employee-table {
    width: 100%;
}


table {
    border-collapse: collapse;
}

.table-headings {
    background-color: rgb(250, 250, 252);
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 2.3rem;

}

.tripledot {
    font-size: 1rem;
    padding-right: 15px;
    position: relative;
}

.triple-dot {
    font-size: 1rem;
    padding-left: 10px;
}
.tooltip{
    position :absolute;
    font-size:0.7rem;
    background-color: white;
    display:none;
    width: 7rem;
    right:-1rem;
    text-align: start;
    border: 1px solid black;  
}
.tooltip p{
    margin:0;
    height:2rem;
    padding-left:0.4rem;
}
.tooltip-text:hover{
    background-color: rgb(244, 72, 72);
    color:white;
}
.tripledot :hover{
    .tooltip{
        display:block;
    }
}

.checkbox {
    margin-left: 0px;
    margin-right: 10px;
}

.check-box {
    margin-left: 20px;

}

.th-flex {
    display: flex;
    align-items: center;
    font-size: 0.6rem;
    color: rgb(69, 85, 115);
    font-weight: 700;

}

.unfold {
    transform: scale(0.5);
}

.table-rows {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    height: 2.6rem;
}

.table-rows:hover {
    background-color: rgb(255, 244, 244);
}



.table-person-name {
    font-size: 0.7rem;
}

.table-person-email {
    font-size: 0.6rem;
    color: rgb(69, 85, 115);

}

.row-content {
    font-size: 0.7rem;
    font-weight: 400;
}

.btn-active {
    background-color: rgb(231, 244, 232);
    color: rgb(88, 158, 135);
    border: solid 1px rgb(231, 244, 232);
    border-radius: 0.25rem;
    font-size: 0.7rem;
    width: 3rem;
    height: 1.5rem;
}