/* General Style start*/

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 12fr;
    grid-template-columns: 1fr 6.5fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    font-family: Lato;
}
a:hover,
button:hover,
select:hover{
    cursor: pointer;

}
/* General Style end*/

/*Common for all start*/

/*Header Styling start*/
header {
    background-color: white;
    margin-left: 0.6rem;
    grid-area: header;
    padding-left: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
    height: 3.3rem;
    border-radius: 0.8rem;
}

.header-searchbox {
    display: flex;
    align-items: center;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: end;
}

.profile-section {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.profile-section p {
    margin: 0;
}

.img-search {
    width: 1rem;
}

.input-searchbox {
    border-style: none;
    padding-left: 0.5rem;
    height: 100%;
    width: 100%;
}

.input-searchbox::placeholder {
    opacity: 0.4;
}

.header-icon {
    width: 2rem;

}

.img-avatar {
    border-radius: 50%;
    margin-right: 0.3rem;
}

.person-name {
    font-size: 0.6rem;
}

.person-role {
    font-size: 0.9rem;
}

.down-arrow {
    padding-left: 8px;
}
/*Header Styling end*/

/*The Sidebar Styling start*/
.sidebar {
    background-color: white;
    grid-area: sidebar;
    position: relative;
    /* height:40rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.the-logo {
    width: 5rem;
    padding-left: 0.9rem;
    padding-top: 0.6rem;
}

.collapse-button {
    position: absolute;
    height: 1.6rem;
    right: -0.5rem;
    top: 0.6rem;
}

.sidebar-heading {
    font-size: 0.7rem;
    font-weight: 400;
    color: rgb(177, 185, 193);
    padding-left: 0.9rem;
}


.sidebar-sub-heading:hover {
    background-color: rgb(254, 195, 195);
    .sideline{
        display: block;
    }
}

.sidebar-sub-heading:hover p {
    color: rgb(244, 72, 72);
    
}

.sideline{
    background-color: rgb(244, 72, 72);
    width: 3px;
    height :2rem;
    display:none;
    border-radius: 1rem 0 0 1rem;
}
.sidebar-sub-heading {
    padding-left: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 0.4rem;

}

.sidebar-sub-heading p {
    color: grey;

}

.sidebar-icon-and-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.heading-icon {
    width: 1.2rem;
    padding-right: 0.5rem;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.arrow {
    color: grey
}

.new-update {
    background-color: rgb(254, 238, 238);
    border-radius: 1rem;
    padding-bottom: 0.6rem;
    margin-top: 1.1rem
}

.new-update p {
    font-size: 0.7rem;
    color: rgb(244, 72, 72);
    padding-top: 1rem;
    padding-left: 10px;
    margin: 0;
}

.new-update h6 {
    font-size: 0.65rem;
    color: rgb(159, 159, 159);
    font-weight: 400;
    margin: 11px 0px;
    padding-left: 10px;
}

.btn-dismiss {
    font-size: 0.7rem;
    background-color: rgb(254, 195, 195);
    border: 1px rgb(254, 195, 195);
    border-radius: 7px;
    color: rgb(244, 72, 72);
    margin-left: 0.9rem;
    height: 2rem;
    width: 3.3rem;
}

.btn-accept {
    font-size: 0.7rem;
    background-color: rgb(244, 72, 72);
    border: 1px rgb(244, 72, 72);
    border-radius: 7px;
    color: white;
    height: 2rem;
    width: 3.3rem;
    margin-left: 0.2rem;
}
/*The Sidebar Styling end*/



/*Main Page Styling start*/
.main {
    background-color: white;
    grid-area: main;
    margin-top: 1rem;
}

.employees,
.roles {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-heading {
    margin: 0;
    padding-left: 0.9rem;
    color: rgb(76, 95, 113);
    font-size: 1rem;
}

.main-text {
    margin: 0;
    margin-top: 1rem;
    padding-left: 0.9rem;
    font-size: 0.7rem;
    color: rgb(131, 144, 156)
}

.btn-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-add-employee,
.btn-add-role {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    background-color: rgb(244, 72, 72);
    border: 1px rgb(244, 72, 72);
    border-radius: 7px;
    height: 2.1rem;
    width: 9.8rem;
    color: white;
}


.img-plus {
    width: 1rem;
    margin-right: 0.2rem;
}
/*Main Page Styling end*/

/*Common for all end*/


/* Common for page 1 and page 2 start*/
.filter-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 244, 244);
    height: 2.5rem;
    margin-left: 1rem;
    border: 1px solid rgb(247, 177, 177);
    border-radius: 0.4rem;
    margin-top: 0.9rem;
}

.filter-box-select {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 1rem;
}

.filter-text {
    display: flex;
    align-items: center;
    color: rgb(244, 72, 72);
    font-size: 0.7rem;
}

.icon-filter-list {
    transform: scale(0.7);
}

.filter-tags {
    margin: 0px 0.2rem;
    height: 1.9rem;
    font-size: 0.7rem;
    border: 1px solid rgb(247, 177, 177);
    border-radius: 0.4rem;
    color: rgb(79, 95, 123);
}

.filter-box-apply {
    display: flex;
    align-items: center;
    justify-content: right;
}

.btn-reset,
.btn-apply {
    margin-right: 0.8rem;
    border: 1px solid rgb(244, 72, 72);
    border-radius: 0.2rem;
    font-size: 0.7rem;
    height: 1.6rem;
    width: 3.5rem;
}

.btn-reset {
    background-color: white;
    color: rgb(244, 72, 72);
}

.btn-apply {
    background-color: rgb(244, 72, 72);
    color: white;
}

/* Common for page 1 and page 2 end*/

/* Common for page 1 and page 3 start*/

.profile-section-copy {
    display: flex;
    align-items: center;
}

.profile-section-copy p {
    margin: 0;
}
/* Common for page 1 and page 3 end*/

/* Common for page 2 and page 3 start*/
.cards{
    margin-left: 1rem;
    margin-top:1rem;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}
.c1,.c2,.c3,.c4,.c5,.c6{
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
}
.card-sub-heading{
    display: flex;
    align-items: center;
    font-size: 0.69rem;
    padding: 0.18rem 0;
    font-weight:500;
    color: rgb(69,85,115);
}
.view-arrow{
    display:flex;
    align-items:center;
    justify-content: end;
    font-size: 0.65rem;
    font-weight:500;
    color: rgb(120,120,120);
}
.icon-arrow{
    transform: scale(0.8);
}
.card-icons{
    transform: scale(0.8);
    padding-right:0.25rem;
}
/* Common for page 2 and page 3 end*/

